
<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #1d86df; height: 3.5rem;">
    <a  class="navbar-brand ">
        <img src="~/images/user-color-64.png" alt="logo" class="img1 img-fluid">
        <span class="logo__name"></span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavDropdown" style="background-color: #1d86df;">
        <ul class="navbar-nav" style="background-color: #1d86df;">
            <li class="nav-item active">
                <a asp-action="Logout" asp-controller="Clerick" class="nav-link" style="font-size: 20px; ">log out</a>
            </li>

        </ul>
    </div>

    <div class="nav__icons">
        
        <img src="~/images/unrwa-logo-0DB0E000FE-seeklogo.com.png" alt="logo" class=" img__1 img-fluid">
    </div>


</nav>